<!--Footer-->
<footer class="footer fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/Tina997"> Cristina Montesdeoca</a>
  </div>
  <!-- Copyright -->
</footer>