<!DOCTYPE html>
<html>

<head>
  <title>Servicios</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <%- include partials/header %>
  <br>
  <div class="card-columns">
    <div class="card card1">
      <div class="card-body text-center">
        <h4 class="card-title">Servicio 1</h4>
        <p class="card-text">Descripcion del servicio.</p>
        <a href="#" class="btn">Enlace al servicio 1</a>
      </div>
    </div>
    <div class="card card2">
      <div class="card-body text-center">
        <h4 class="card-title">Servicio 2</h4>
        <p class="card-text">Descripcion del servicio.</p>
        <a href="#" class="btn">Enlace al servicio 2</a>
      </div>
    </div>
    <div class="card card3">
      <div class="card-body text-center">
        <h4 class="card-title">Servicio 3</h4>
        <p class="card-text">Descripcion del servicio.</p>
        <a href="#" class="btn">Enlace al servicio 3</a>
      </div>
    </div>
    <div class="card card4">
      <div class="card-body text-center">
        <h4 class="card-title">Servicio 4</h4>
        <p class="card-text">Descripcion del servicio.</p>
        <a href="#" class="btn">Enlace al servicio 4</a>
      </div>
    </div>
    <div class="card card5">
      <div class="card-body text-center">
        <h4 class="card-title">Servicio 5</h4>
        <p class="card-text">Descripcion del servicio.</p>
        <a href="#" class="btn">Enlace al servicio 5</a>
      </div>
    </div>
    <div class="card card6">
      <div class="card-body text-center">
        <h4 class="card-title">Servicio 6</h4>
        <p class="card-text">Descripcion del servicio.</p>
        <a href="#" class="btn btn-outline-light">Enlace al servicio 6</a>
      </div>
    </div>
  </div>
  <br><br>
  <!--Footer-->
  <%- include partials/footer %>
  </div>
</body>

</html>