@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);

/*=============== IMPORT ICONS ===============*/
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);

/*===============COLORS====================*/
:root{
  --white: #FFFFFF;
  --black: #000000;

  --darksienna: #450920;
  --marronX11: #A53860;
  --blush: #DA627D;
  --lightpink: #FFA5AB;
  --peachpuff: #F9DBBD;
  --teagreen: #CCF5CC;
  --aeroblue: #CCF5E2;
  --honeydew: #E9F4E2;
  --papayawhip: #F5E9CC;
  --beaublue: #CCE1F5;
  --languidlavender: #E2D9E8
}

.navbar{
  background-color: var(--darksienna);
}
.btns{
  margin-inline-start: 10%;
}

.btn{
  background-color: var(--darksienna);
  color: var(--white);
  margin-inline-start: 15px;
  padding: 5px 15px 5px 15px;
}

.footer{
  background-color: var(--darksienna);
  color: var(--peachpuff);
  width: 100%;
}
.carrousel-inner img{
  height:70%;
}
.card-columns{
  margin: 5%;
}

.card1{
  background-color: var(--teagreen);
}
.card2{
  background-color: var(--languidlavender);
}
.card3{
  background-color: var(--papayawhip);
}
.card4{
  background-color: var(--honeydew);
}
.card5{
  background-color: var(--aeroblue);
}
.card6{
  background-color: var(--beaublue);
}
.table{
  margin-left: 30%;
}